*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
background-color: aqua;
}

footer p{
    font-size: 30px;
}

main aside{
    background-color: aqua;
}

body{
    background-color: forestgreen;
}

header h1{
    color: aquamarine;
}
header p{
    background-color: blueviolet;
}
main article{
    background-color: brown;
}

p{
    color: red;
    background-color: white;
}