*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: forestgreen;
}

header h1{
    color: aquamarine;
}

p{
    background-color: blueviolet;
}