*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
background-color: aqua;
}

footer p{
    font-size: 30px;
}

body{
    background-color: forestgreen;
}

header h1{
    color: aquamarine;
}

header p{
    background-color: blueviolet;
}